.simulator {
  display: flex;
  width: 50vw;
  height: 30vw;
  margin: auto;
  background-color: var(--primary-color);
  outline: 5px solid rgb(228, 184, 5);
  animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

.custom-toast {
  position: absolute;
  left: 15%;
  bottom: 50%;
}

#root {
  height: inherit;
  display: flex;
  align-items: center;
}

.button-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.drum-pad {
  flex-basis: calc(33.33% - 10px);
  height: 30%;
  margin: 5px;
  border-radius: 10px;
  color: var(--primary-color);
  font-weight: bold;
  border: 2px solid var(--secondary-color);
  box-shadow: 2px 2px 5px 1px var(--secondary-color);
}

.button-container button:active {
  background-color: var(--secondary-color);
}

.setting-container {
  color: white;
  width: 50%;
}

.mb-0 {
  margin-bottom: 0;
}

.setting-container p {
  text-align: right;
  margin: 5px;
  flex-grow: 2;
}

.bold {
  font-weight: bold;
}

.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setters {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mt10 {
  margin-top: 10%;
}

.instrument-display {
  margin-top: 10%;
  padding: 0 10px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  background-color: var(--secondary-color);
}